# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html
coverage.txt

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/

# Node / Dragonfly plugin
node_modules/
package.json
package-lock.json

# Dragonfly runtime data
data/
